* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 300px;
}

.light-mode {
  --text-color: #333;
  --background-color: #fff;
}

.dark-mode {
  --text-color: #fff;
  --background-color: #333;
}

#app {
  display: flex;
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

p,
small {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

:root {
  --text-color-light: #333;
  --background-color-light: #fff;

  --text-color-dark: #fff;
  --background-color-dark: #333;
}

body {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}
