* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 300px;
}

.light-mode {
  --text-color: #333;
  --background-color: #dee4e7;
  --background-secondary: #f0f0f0;
}

.dark-mode {
  --text-color: #fff;
  --background-color: #333;
  --background-secondary: rgba(110, 107, 107, 0.336);
}

#app {
  display: grid;
  grid-template: 150px 1fr / 75px 1fr;

  @media (max-width: 425px) {
    grid-template: 150px 1fr/ 40px 1fr;
  }
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

p,
small {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

:root {
  --text-color-light: #333;
  --background-color-light: #fff;

  --text-color-dark: #fff;
  --background-color-dark: #333;
}

body {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.material-symbols-outlined {
  font-size: 2rem;
}
